<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Flux documents</title>
</head>
<body>
    <div class="d-flex justify-content-center">
        <h2>Lecteur flux RSS Le Monde <img class='rss' src="assets/images/rss.png"></h2>
    </div>
    <div class="d-flex justify-content-center">
        <ul id="horizontal-list" *ngFor="let item of response.results" class="d-flex justify-content-center">
            <li>
                <div class="card" style="width: 18rem;" (onclick)="updateFlux(item)">
                    <img src="{{ item.image }}" class="card-img-top" alt="...">
                    <div class="card-header">
                        
                    </div>
                    <div class="card-body overflow-scroll">
                      <h5 class="card-title">{{ item.title }}</h5>
                      <p class="card-text">{{ item.description }}</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="d-flex justify-content-center">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#" (click)="paginateNextPrevious(response.previous)">Previous</a></li>
            <div *ngFor="let page of pages">
                <li class="page-item"><a class="page-link" href="#" (click)="paginate(page)">{{page}}</a></li>
            </div>
            <li class="page-item"><a class="page-link" href="#" (click)="paginateNextPrevious(response.next)">Next</a></li>
        </ul>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>

